body {
    font-family: Arial, Helvetica, sans-serif;

}

.menu-468 {
    display: none;
}

.fa-facebook-f {
    color: Blue;
}
.fa-youtube {
    color: red;
}
.fa-instagram {
    color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
header {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    padding-right: 1em;
    width: auto;
}
.social-media {
    display: flex;
    justify-items: center;
}

header a {
    padding: 0.5em;
    color: black;
}

.langues {
    display: flex;
    justify-items: center;
    height: 15px;
}

.fas.fa-angle-down {
    height: 10px;
}
header .burger-icon div{
    width: 20px;
    height: 3px;
    background-color: #222222;
    margin: 3px 2px 0 0;

}

h1 {
    font-size: 1.6em;
    text-align: center;
}

h2 {
    margin-top: 1px;
}
.burger-icon {
    width: fit-content;
}

.menu-right {
    display: flex;
}

.menu-right a {
    font-size: 0.5em;
}

.logo-blog img {
    width: 100%;
    height: auto;
    margin-bottom: 5em;
}

.logo-blog {
    text-align: center;
}

article {
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
}
article img {
    align-self: center;
    width: 100%;
    height: auto;
    
}

.date-comment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.date-comment a {
    color: grey;
}

.date-comment a:hover {
    box-shadow: 0 0 100px 100px(grey 0.5);
}

.read-post {
    font-size: 0.7em;
    width: 9em;
    padding: 0.8em;
    color: white;
    background-color: black;
    margin: 2em 0;
}

.img-post {
    display: flex;
    flex-direction: column;

}

li {
    display:flex;
}
footer ul li a{
    color: grey;
}

footer ul li a:hover {
    color: rgb(184, 184, 184);
}

aside {
    display: none
}


@media screen and (min-width: 468px) {
    .burger-icon {
        display: none;
    }
    .menu-468 {
        display: flex;

    }
    .menu-468 a {
        font-size: .8rem;
        color: grey;
        text-decoration: none;
    }

    .menu-468 a:hover {
        color: rgb(184, 184, 184)
}
}

@media screen and (min-width: 992px) {
    body {
        display: flex;
    }
    aside {
        display: flex;
        padding: 1em;
        background-color: rgb(248, 248, 248);
    }
    .suscribe-button {
    font-size: 0.7em;
    text-decoration: none;
    width: 4.5em;
    padding: 0.8em;
    color: white;
    background-color: rgb(169, 178, 255);
    margin: 2em 0;
    }
}
